 .u-section-1 {
  background-image: linear-gradient(#296535, #476160);
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-group-1 {
  width: 889px;
  min-height: 899px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 68px auto 0 251px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 12px;
}

.u-section-1 .u-text-1 {
  font-family: "Playfair Display", serif;
  margin: 14px 32px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 282px;
}

.u-section-1 .u-shape-1 {
  width: 80px;
  height: 80px;
  margin: -328px auto 248px 0;
}

.u-section-1 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/DSC_0715Large.JPG");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -637px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 160px;
  height: 160px;
  background-image: none;
  margin: -90px auto 60px 347px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-group-1 {
    animation-duration: 1750ms;
    margin-top: 44px;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -227px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 252px;
    margin-top: -568px;
    margin-left: 41px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -18px;
    margin-left: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 810px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -600px;
    margin-left: -85px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -48px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 1010px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 14px;
    margin-right: 68px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -211px;
    margin-left: 18px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -278px;
    margin-right: 145px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 1371px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-right: -21px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -228px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#476160, #f99964);
}

.u-section-2 .u-sheet-1 {
  min-height: 1318px;
}

.u-section-2 .u-shape-1 {
  width: 490px;
  height: 401px;
  background-image: none;
  margin: 243px 0 0 650px;
}

.u-section-2 .u-group-1 {
  width: 650px;
  background-image: none;
  min-height: 663px;
  height: auto;
  margin: -586px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 118px;
}

.u-section-2 .u-text-2 {
  margin: 21px 146px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 146px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 156px 0 0;
}

.u-section-2 .u-image-1 {
  width: 592px;
  height: 592px;
  background-image: url("images/DSC_0705Large.JPG");
  background-position: 50% 50%;
  margin: -570px 77px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: 550px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: -573px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-left: 230px;
  }

  .u-section-2 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -552px;
    margin-right: -154px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-left: 50px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 33px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2230px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: -1224px;
    margin-right: auto;
    margin-left: -26px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -890px;
    min-height: 841px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 151px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1548px;
  }
}